* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./images/bg2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: Poppins, sans-serif;
  color: white;
  height: 100%;
  width: 100%;
}

.body-overlay-flex-box {
  display: flex;
  justify-content: center;
  background-color: rgba(206, 94, 240, 0.5);
  height: 100%;
  width: 100%;
}

.survey-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 55px 0 0 0;
}

#title {
  font-weight: 400;
  transform: scale(0.9);
  text-align: center;
}

#description {
  font-weight: 300;
  font-style: italic;
  margin: 10px 0 15px;
  text-align: center;
}

#survey-form {
  background-color: rgba(63, 11, 112, 0.9);
  border-radius: 5px;
  padding: 35px;
  margin: 10px;
}

span {
  font-size: 0.75em;
}

#name-container,
#email-container,
#number-container,
#dropdown,
#dropdown2-container,
#checkboxes-container {
  margin-bottom: 15px;
}

#name,
#email,
#number {
  border-radius: 5px;
  padding: 7px;
  border: none;
  margin-top: 5px;
  font-family: Poppins, sans-serif;
  width: 100%;
}

#current-role {
  border-radius: 5px;
  padding: 7px;
  border: none;
  margin-top: 5px;
  font-family: Poppins, sans-serif;
  width: 100%;
}

#radio {
  margin: 20px 0 25px;
}

#radio p {
  margin-bottom: 5px;
}

#radio input {
  margin-right: 5px;
}

#checkboxes-container p {
  margin-bottom: 5px;
}

#checkboxes-container label {
  margin-bottom: 5px;
  margin-left: 5px;
}

#comments textarea {
  height: 150px;
  width: 100%;
  margin-top: 10px;
  font-family: Poppins, sans-serif;
  padding: 7px;
}

#submit {
  padding: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: mediumseagreen;
  color: white;
  width: 100%;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  margin-top: 15px;
}

@media screen and (min-height: 1441px) {
  .body-overlay-flex-box {
    height: 100vh;
    /* width: 100%; */
  }
}
