* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

#title {
    margin: 30px 0 5px;
    text-align: center;
}

#title p {
    margin-top: 10px;
}

#img-div {
  background-color: white;
  width: 100%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#image {
  max-width: 50%;
  height: auto;
  margin: 20px 0;
}

#img-caption {
    margin-bottom: 10px;
}

#tribute-info {
    padding: 35px 0;
    width: 100%;
      
}

#tribute-info h2 {
    text-align: center;
}

.tribute-wrapper {
    margin: 50px auto;
    width: 50%;
    
}

.tribute-wrapper ul {
text-align: center;
list-style: inside;
}

li {
    margin: 20px;
}

#tribute-info p {
    text-align: center;
}