:root {
  --primary-color: dodgerblue;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: white;
  font-family: sans-serif;
}

#header {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px 10px 20px;
  position: fixed;
  width: 100vw;
}

#header-img {
  width: 200px;
}

#nav-bar {
  float: left;
}

.nav-link {
  text-decoration: none;
  margin-left: 25px;
  color: white;
  text-transform: uppercase;
  font-size: 0.75em;
}

.nav-link:hover {
  color: var(--primary-color);
}

.photo {
  height: 1000px;
  background-image: url(./images/outdoor.jpg);
  background-size: cover;
  background-position: center;
}

#email-div {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
}

#form {
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 15px;
  border-radius: 15px 0 15px 0;
}

#form label {
  font-weight: bold;
  text-transform: uppercase;
  background-color: black;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1.5em;
}

#email {
  padding: 10px;
  margin-bottom: 10px;
}

#submit {
  padding: 10px;
  background-color: var(--primary-color);
  color: black;
  font-weight: bold;
  border-radius: 10px;
  border: 3px solid black;
}

#submit:hover {
  cursor: pointer;
  border: 3px solid var(--primary-color);
  background-color: transparent;
  color: white;
}

#features {
  max-height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 75px 0;
}

.features-container {
  display: flex;
  flex-direction: column;
}

.top-feature,
.middle-feature,
.bottom-feature {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 40px;
}

.left {
  width: 100px;
  color: var(--primary-color);
}

.right {
  margin-left: 25px;
}

.right h1 {
  margin-bottom: 10px;
}

#how-to {
  height: 700px;
  background-color: black;
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#how-to h1 {
  margin-bottom: 25px;
}

#pricing {
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pricing-container {
  display: flex;
  justify-content: space-around;
}

#pricing h1 {
  margin-bottom: 35px;
  text-transform: uppercase;
  color: var(--primary-color);
  background-color: black;
  border-radius: 0 15px 0 15px;
  padding: 15px;
}

.card-left,
.card-middle,
.card-right {
  margin: 10px 25px;
  border: 10px solid black;
  border-radius: 15px;
  padding: 25px;
}

.card-left img,
.card-middle img,
.card-right img {
  width: 150px;
  height: 150px;
}

.card-left h2,
.card-middle h2,
.card-right h2 {
  width: 150px;
  margin: 15px 0;
  text-align: center;
}

.card-left p,
.card-middle p,
.card-right p {
  font-weight: bold;
  text-align: center;
  color: var(--primary-color);
  background-color: black;
  padding: 5px;
}

footer {
  height: 100px;
  background-color: var(--primary-color);
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .top-feature,
  .middle-feature,
  .bottom-feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 40px;
    text-align: center;
    width: 750px;
  }
}

@media screen and (max-width: 767px) {
  header {
    flex-direction: column;
    padding: 10px 0 0;
    z-index: 5;
  }
  #nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    padding: 0;
  }

  .nav-link {
    margin-bottom: 10px;
    font-size: 2em;
    margin: 0 0 10px;
  }

  .photo {
    height: 1000px;
    background-position: top;
  }

  #form {
    transform: scale(0.75);
  }

  .top-feature,
  .middle-feature,
  .bottom-feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 40px;
    text-align: center;
    width: 350px;
  }

  #video {
    transform: scale(0.5);
  }

  .pricing-container {
    flex-direction: column;
  }

  #pricing {
    height: 1700px;
  }
}
